loki-stack: 
  loki:
    enabled: true
    isDefault: true
    url: http://{{(include "loki.serviceName" .)}}:{{ .Values.loki.service.port }}
    readinessProbe:
      httpGet:
        path: /ready
        port: http-metrics
      initialDelaySeconds: 45
    livenessProbe:
      httpGet:
        path: /ready
        port: http-metrics
      initialDelaySeconds: 45
    datasource:
      jsonData: "{}"
      uid: ""

  promtail:
    enabled: true
    config:
      logLevel: info
      serverPort: 3101
      clients:
        - url: http://{{ .Release.Name }}:3100/loki/api/v1/push

  grafana:
    enabled: true
    sidecar:
      datasources:
        label: ""
        labelValue: ""
        enabled: true
        maxLines: 1000
    image:
      tag: 8.3.5
    ingress:
      enabled: true	
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-cluster-issuer
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"      
      hosts:  
        - grafana.argouniverse.com
      tls:
        - secretName: issuer-letsencrypt-grafana
          hosts:
            - grafana.argouniverse.com          

  prometheus:
    enabled: true
    isDefault: false
    url: http://{{ include "prometheus.fullname" .}}:{{ .Values.prometheus.server.service.servicePort }}{{ .Values.prometheus.server.prefixURL }}
    datasource:
      jsonData: "{}"